@import "tailwindcss";

@theme {
  --font-body: "Roboto", sans-serif;
  --font-heading: "Montserrat", sans-serif;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  --container-padding: 16px;
  --max-width-container: 1280px;
}

@layer base {
  body {    
    font-family: var(--font-body);
    color: #1f2937; /* Tailwind gray-800 */
  }
  body::before{
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-image: url('/images/login-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: #111827; /* Tailwind gray-900 */
  }
}

.layout {
  max-width: var(--max-width-container);
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

html {
  scrollbar-gutter: stable;
}


@keyframes gradient-x {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 8s ease infinite;
}

body {
  background-color: #98938d;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modal-bg {
  background-image: url('/images/modal-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.login-bg {
  background-image: url('/images/login-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/********************************************
Лоадер
*******************************************/

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}